.r{
 background-color: chartreuse;
}
#a{
    background-color: darkmagenta;
}
.s{
    background-color: aqua;
     width:80%;
}
#t{
   background-color: aquamarine;
}
#b{
    background-color: darksalmon;
}
.g{
    background-color: deeppink;
}